body{
//	background: #203744;
	background: #000000;
	color: #fff;
}
#banner{
	padding-top: -10px;
}
#bands{
	padding-top: 60px;
}
#about{
	background:#000000;
}
hr{
	color:#444;
}
.carousel{
	//background: #777;
	background: #000000;
}
.navbar{
//	background: #4d4398;
	background: #333;
	color: #fff;
	margin-bottom: 0;
}
.navbar-brand{
	color: #fff;
}
.navbar-nav{
	color: #fff;
}
.well{
	padding-top: 20px;
	background: #000000;
	border: 0px;
}
.navbar-nav > li > a{
	color: #fff;
}
