body{
//	background: #203744;
	background: #222222;
	color: #fff;
}
#banner{
	background: #000;
}
#bands{
	padding-top: 60px;
}
#about{
	//background:#000000;
}
hr{
        background-color:#444;
	color:#444;
        border: 0 none;
        height: 1px;
}
h1{
   color:#428BCA;
}
.navbar{
//	background: #4d4398;
	background: #222222; //#333; 
	color: #fff;
	margin-bottom: 0;
}
.navbar-brand{
	color: #fff;
}
.navbar-brand:hover{
   color:#428BCA;
}
.navbar-nav{
	color: #fff;
}
.well{
	padding-top: 20px;
	background: #222222; //#000000;
	border: 0px;
}
.navbar-nav > li > a{
	color: #fff;
        background: #222222;
}
.navbar-nav > li > a:visited{
        background: #222222;
}
.navbar-nav > li > a:hover{
        background: #383838;
}
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 1em;
    text-decoration: none;
    color: #ffffff;
    background-color: #777;
    display: none;
    opacity: 0.9;
}
.back-to-top:hover{
    color: #ffffff;
}
#agenda h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#777;
}